/original
/css/style2.css
/css/style3.css
/.vscode
/Evepraisal - Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet Transactions, Inventory, Assets.html
index(old).html
index2.html
index2 - Copy.html
Evepraisal-knock-off.html
Evepraisal Clone.code-workspace
test.html
ultra-light.html
ultra-light copy.html
